adfmigratepoc/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfmigratepoc"
		},
		"AzureBlobStorageCog_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorageCog'"
		},
		"AzureDataLakeStorage_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage'"
		},
		"AzureFileStorage2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureFileStorage2'"
		},
		"AzureSqlDatabaseActivityLogs_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabaseActivityLogs'"
		},
		"TestLinkedService_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'TestLinkedService'"
		},
		"AzureDataLakeStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://blobsearchpoc.dfs.core.windows.net/"
		},
		"TestLinkedService_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://blobsearchpoc.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyDocumentFilesToDBServers1of2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyHostedPdfFilesToDBServers",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "Hosted/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.pdf",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HostedToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "HostedDbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyHostedDocFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopyHostedPdfFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "Hosted/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.doc",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HostedToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "HostedDbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyHostedDocxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopyHostedDocFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "Hosted/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.docx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HostedToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "HostedDbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS1PdfFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopyHostedTxtFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS1/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.pdf",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS1ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS1DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS1DocFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS1PdfFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS1/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.doc",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS1ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS1DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS1DocxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS1DocFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS1/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.docx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS1ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS1DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS10PdfFilesToDBServers",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS10/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.pdf",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS10ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS10DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS10DocFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS10PdfFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS10/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.doc",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS10ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS10DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS10DocxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS10DocFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS10/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.docx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS10ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS10DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS11PdfFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS10TxtFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS11/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.pdf",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS11ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS11DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS11DocFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS11PdfFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS11/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.doc",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS11ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS11DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS11DocxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS11DocFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS11/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.docx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS11ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS11DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS12PdfFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS11TxtFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS12/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.pdf",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS12ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS12DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS12DocFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS12PdfFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS12/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.doc",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS12ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS12DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS12DocxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS12DocFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS12/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.docx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS12ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS12DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS7PdfFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS1TxtFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS7/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.pdf",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS7ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS7DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS7DocFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS7PdfFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS7/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.doc",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS7ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS7DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS7DocxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS7DocFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS7/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.docx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS7ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS7DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS9PdfFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS7TxtFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS9/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.pdf",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS9ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS9DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS9DocFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS9PdfFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS9/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.doc",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS9ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS9DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS9DocxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS9DocFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS9/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.docx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS9ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS9DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS13PdfFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS12TxtFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS13/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.pdf",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS13ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS13DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS13DocFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS13PdfFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS13/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.doc",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS13ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS13DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS13DocxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS13DocFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS13/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.docx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS13ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS13DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyHostedXlsxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopyHostedDocxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "Hosted/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.xlsx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HostedToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "HostedDbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyHostedTxtFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopyHostedXlsxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "Hosted/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.txt",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HostedToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "HostedDbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS1XlsxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS1DocxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS1/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.xlsx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS1ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS1DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS1TxtFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS1XlsxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS1/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.txt",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS1ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS1DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS7XlsxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS7DocxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS7/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.xlsx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS7ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS7DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS7TxtFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS7XlsxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS7/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.txt",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS7ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS7DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS9XlsxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS9DocxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS9/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.xlsx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS9ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS9DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS9TxtFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS9XlsxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS9/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.txt",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS9ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS9DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS10XlsxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS10DocxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS10/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.xlsx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS10ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS10DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS10TxtFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS10XlsxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS10/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.txt",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS10ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS10DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS11XlsxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS11DocxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS11/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.xlsx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS11ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS11DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS11TxtFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS11XlsxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS11/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.txt",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS11ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS11DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS12XlsxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS12DocxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS12/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.xlsx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS12ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS12DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS12TxtFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS12XlsxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS12/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.txt",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS12ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS12DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS13XlsxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS13DocxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS13/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.xlsx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS13ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS13DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS13TxtFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS13XlsxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS13/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.txt",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS13ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS13DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-06-19T20:11:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/HostedToDBServers')]",
				"[concat(variables('factoryId'), '/datasets/HostedDbSink')]",
				"[concat(variables('factoryId'), '/datasets/SS1ToDBServers')]",
				"[concat(variables('factoryId'), '/datasets/SS1DbSink')]",
				"[concat(variables('factoryId'), '/datasets/SS10ToDBServers')]",
				"[concat(variables('factoryId'), '/datasets/SS10DbSink')]",
				"[concat(variables('factoryId'), '/datasets/SS11ToDBServers')]",
				"[concat(variables('factoryId'), '/datasets/SS11DbSink')]",
				"[concat(variables('factoryId'), '/datasets/SS12ToDBServers')]",
				"[concat(variables('factoryId'), '/datasets/SS12DbSink')]",
				"[concat(variables('factoryId'), '/datasets/SS7ToDBServers')]",
				"[concat(variables('factoryId'), '/datasets/SS7DbSink')]",
				"[concat(variables('factoryId'), '/datasets/SS9ToDBServers')]",
				"[concat(variables('factoryId'), '/datasets/SS9DbSink')]",
				"[concat(variables('factoryId'), '/datasets/SS13ToDBServers')]",
				"[concat(variables('factoryId'), '/datasets/SS13DbSink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyDocumentFilesToDBServers2of2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopySSUAT01PdfFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS21TxtFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SSUAT01/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.pdf",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SSUAT01ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SSUAT01DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySSUAT01DocFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySSUAT01PdfFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SSUAT01/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.doc",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SSUAT01ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SSUAT01DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySSUAT01DocxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySSUAT01DocFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SSUAT01/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.docx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SSUAT01ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SSUAT01DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySSUAT01XlsxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySSUAT01DocxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SSUAT01/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.xlsx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SSUAT01ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SSUAT01DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySSUAT01TxtFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySSUAT01XlsxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SSUAT01/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.txt",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SSUAT01ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SSUAT01DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS21PdfFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS19TxtFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS21/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.pdf",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS21ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS21DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS21DocFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS21PdfFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS21/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.doc",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS21ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS21DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS21DocxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS21DocFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS21/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.docx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS21ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS21DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS19PdfFilesToDBServers",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS19/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.pdf",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS19ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS19DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS19DocFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS19PdfFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS19/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.doc",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS19ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS19DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS19DocxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS19DocFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS19/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.docx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS19ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS19DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS18PdfFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS16TxtFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS18/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.pdf",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS18ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS18DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS18DocFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS18PdfFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS18/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.doc",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS18ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS18DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS18DocxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS18DocFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS18/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.docx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS18ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS18DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS16PdfFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS14TxtFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS16/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.pdf",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS16ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS16DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS16DocFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS16PdfFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS16/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.doc",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS16ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS16DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS16DocxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS16DocFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS16/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.docx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS16ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS16DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS14PdfFilesToDBServers",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS14/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.pdf",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS14ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS14DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS14DocFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS14PdfFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS14/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.doc",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS14ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS14DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS14DocxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS14DocFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS14/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.docx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS14ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS14DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS14XlsxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS14DocxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS14/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.xlsx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS14ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS14DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS14TxtFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS14XlsxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS14/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.txt",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS14ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS14DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS16XlsxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS16DocxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS16/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.xlsx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS16ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS16DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS16TxtFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS16XlsxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS16/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.txt",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS16ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS16DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS18XlsxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS18DocxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS18/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.xlsx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS18ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS18DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS18TxtFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS18XlsxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS18/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.txt",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS18ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS18DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS19XlsxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS19DocxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS19/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.xlsx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS19ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS19DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS19TxtFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS19XlsxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS19/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.txt",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS19ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS19DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS21XlsxFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS21DocxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS21/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.xlsx",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS21ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS21DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopySS21TxtFilesToDBServers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySS21XlsxFilesToDBServers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 24,
							"retryIntervalInSeconds": 240,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "SS21/Userfiles/DBFiles",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*.txt",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SS21ToDBServers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SS21DbSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-06-19T20:49:31Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SSUAT01ToDBServers')]",
				"[concat(variables('factoryId'), '/datasets/SSUAT01DbSink')]",
				"[concat(variables('factoryId'), '/datasets/SS21ToDBServers')]",
				"[concat(variables('factoryId'), '/datasets/SS21DbSink')]",
				"[concat(variables('factoryId'), '/datasets/SS19ToDBServers')]",
				"[concat(variables('factoryId'), '/datasets/SS19DbSink')]",
				"[concat(variables('factoryId'), '/datasets/SS18ToDBServers')]",
				"[concat(variables('factoryId'), '/datasets/SS18DbSink')]",
				"[concat(variables('factoryId'), '/datasets/SS16ToDBServers')]",
				"[concat(variables('factoryId'), '/datasets/SS16DbSink')]",
				"[concat(variables('factoryId'), '/datasets/SS14ToDBServers')]",
				"[concat(variables('factoryId'), '/datasets/SS14DbSink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HostedDbSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageCog",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "hosted/userfiles/dbfiles",
						"container": "dbservers"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageCog')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HostedToDBServers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureFileStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureFileStorageLocation",
						"folderPath": {
							"value": "Hosted/Userfiles/DBFiles",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFileStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS10DbSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageCog",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "ss10/userfiles/dbfiles",
						"container": "dbservers"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageCog')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS10ToDBServers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureFileStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureFileStorageLocation",
						"folderPath": "SS10/Userfiles/DBFiles"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFileStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS11DbSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageCog",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "ss11/userfiles/dbfiles",
						"container": "dbservers"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageCog')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS11ToDBServers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureFileStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureFileStorageLocation",
						"folderPath": "SS11/Userfiles/DBFiles"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFileStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS12DbSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageCog",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "ss12/userfiles/dbfiles",
						"container": "dbservers"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageCog')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS12ToDBServers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureFileStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureFileStorageLocation",
						"folderPath": "SS12/Userfiles/DBFiles"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFileStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS13DbSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageCog",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "ss13/userfiles/dbfiles",
						"container": "dbservers"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageCog')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS13ToDBServers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureFileStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureFileStorageLocation",
						"folderPath": "SS13/Userfiles/DBFiles"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFileStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS14DbSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageCog",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "ss14/userfiles/dbfiles",
						"container": "dbservers"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageCog')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS14ToDBServers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureFileStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureFileStorageLocation",
						"folderPath": "SS14/Userfiles/DBFiles"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFileStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS16DbSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageCog",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "ss16/userfiles/dbfiles",
						"container": "dbservers"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageCog')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS16ToDBServers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureFileStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureFileStorageLocation",
						"folderPath": "SS16/Userfiles/DBFiles"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFileStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS18DbSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageCog",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "ss18/userfiles/dbfiles",
						"container": "dbservers"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageCog')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS18ToDBServers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureFileStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureFileStorageLocation",
						"folderPath": "SS18/Userfiles/DBFiles"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFileStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS19DbSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageCog",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "ss19/userfiles/dbfiles",
						"container": "dbservers"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageCog')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS19ToDBServers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureFileStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureFileStorageLocation",
						"folderPath": "SS19/Userfiles/DBFiles"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFileStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS1DbSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageCog",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "ss1/userfiles/dbfiles",
						"container": "dbservers"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageCog')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS1ToDBServers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureFileStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureFileStorageLocation",
						"folderPath": {
							"value": "SS1/Userfiles/DBFiles",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFileStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS21DbSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageCog",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "ss21/userfiles/dbfiles",
						"container": "dbservers"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageCog')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS21ToDBServers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureFileStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureFileStorageLocation",
						"folderPath": "SS21/Userfiles/DBFiles"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFileStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS7DbSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageCog",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "ss7/userfiles/dbfiles",
						"container": "dbservers"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageCog')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS7ToDBServers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureFileStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureFileStorageLocation",
						"folderPath": "SS7/Userfiles/DBFiles"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFileStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS9DbSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageCog",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "ss9/userfiles/dbfiles",
						"container": "dbservers"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageCog')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SS9ToDBServers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureFileStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureFileStorageLocation",
						"folderPath": "SS9/Userfiles/DBFiles"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFileStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SSUAT01DbSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageCog",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "ssuat01/userfiles/dbfiles",
						"container": "dbservers"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageCog')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SSUAT01ToDBServers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureFileStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureFileStorageLocation",
						"folderPath": "SSUAT01/Userfiles/DBFiles"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFileStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorageCog')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorageCog_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureFileStorage2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFileStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureFileStorage2_connectionString')]",
					"fileShare": "ssfiles"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabaseActivityLogs')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabaseActivityLogs_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TestLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('TestLinkedService_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('TestLinkedService_accountKey')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}